body {
  font-family: "Noto Sans", sans-serif;
  height: 1000px;
}
img {
  max-width: 300px;
}
.header {
  text-align: center;
}
.social {
  width: 30px;
  margin: 10px;
}
#us {
  width: 25%;
  text-align: center;
}
h1 {
  text-align: center;
}
.column {
  display: flex;
  justify-content: space-around;
}
.details .about {
  width: 50%;
}
h2 {
  text-align: center;
}
.accordian {
  width: 400px;
  word-wrap: break-word !important;
  white-space: normal;
}
a {
  text-decoration: none;
}
