body {
  font-family: "Noto Sans", sans-serif;
  height: 1300px;
  background-color: #9ba17b;
}
img {
  max-width: 300px;
}
.header {
  text-align: center;
}
.social {
  width: 30px;
  margin: 10px;
}
#us {
  width: 25%;
  text-align: center;
  border: 2px solid black;
}
h1 {
  text-align: center;
}
.column {
  /* display: flex;
  justify-content: space-around; */
  text-align: center;
  margin: auto;
  width: 50%;
}
.details,
.about,
.footer,
.header {
  margin: 30px 0px;
}
h2,
p {
  text-align: center;
}
.accordian {
  width: 500px;
  word-wrap: break-word !important;
  white-space: normal;
  margin: auto;
}
a,
.btn {
  text-decoration: none;
  color: #9ba17b;
}

a:hover,
.btn:hover {
  text-decoration: underline;
  color: #9ba17b;
}

.card-header {
  background-color: #00008b;
}
